<div class="sidenav" fxFlex="grow" fxFlexFill fxLayout="column" fxLayoutAlign="flex-start center">

  <img [src]="app.background" alt="Background banner.">

  <header class="top">
    <h1>INFINITY</h1>
  </header>

  <a mat-button class="item" [ngStyle]="getLinkStyle(links.home)" [routerLink]="[ links.home.url ]">Home</a>
  <a mat-button class="item" [ngStyle]="getLinkStyle(links.about)" [routerLink]="[ links.about.url ]">About</a>

  <footer class="bottom">
    <div class="contact">
      <button mat-button matTooltip="E-Mail">
        <mat-icon>email</mat-icon>
      </button>
      <button mat-button matTooltip="Phone">
        <mat-icon>phone</mat-icon>
      </button>
      <button mat-button matTooltip="Setting">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <p><sub>Copyright 2019+ Infinity</sub></p>
  </footer>

</div>
