@import 'function.scss';

$toolbar-height: 48px;

mat-sidenav-container {
  > mat-sidenav {
    position: fixed;
    width: 20rem;
  }
  > mat-sidenav-content {
    min-height: 100vh;
    > .toolbar {
      box-shadow: boxShadow();
      position: fixed;
      padding: 0;
      margin: 0;
      height: $toolbar-height;
      transition: unset;
      width: 100%;
      z-index: 2;
      &.trans {
        background-color: #00000000;
        box-shadow: unset;
      }
    }
    // > app-content {
    //   overflow-x: hidden;
    // }
  }
}
