<mat-sidenav-container fxFlex="grow" fxFlexFill>

  <mat-sidenav #sidenav [mode]="getSideMode()" [opened]="sideOpened">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="toolbar" color="primary" fxLayout="row" fxLayoutAlign="flex-start center" [ngClass]="{'trans': isTop}"
      [ngStyle]="{'backgroundColor': toolbarBackgroundColor}">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>list</mat-icon><b>MENU</b>
      </button>
    </div>
    <app-content></app-content>
  </mat-sidenav-content>

</mat-sidenav-container>
