@mixin flexColumn($justify: space-between, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexRow($justify: space-between, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($during: 300ms, $delay: 25ms) {
  transition: $during $delay ease-in-out all;
}

@function boxShadow($direction: bottom) {
  $shadow: 1px 3px 10px -5px rgba(0, 0, 0, 0.3);
  @if $direction != bottom {
    $shadow: 1px -3px 10px -5px rgba(0, 0, 0, 0.3);
  }
  @return $shadow;
}

@mixin textShadow() {
  text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.2);
}
