@mixin flexColumn($justify: space-between, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexRow($justify: space-between, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($during: 300ms, $delay: 25ms) {
  transition: $during $delay ease-in-out all;
}

@mixin boxShadow() {
  box-shadow: 5px 5px 15px -7px rgba(0,0,0,.3);
}

@mixin textShadow() {
  text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.2);
}
