@mixin flexColumn($justify: space-between, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexRow($justify: space-between, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($during: 300ms) {
  transition: $during 50ms ease-in-out all;
}

@mixin boxShadow() {
  box-shadow: 5px 5px 15px -7px rgba(0,0,0,.3);
}

@mixin textShadow() {
  text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.2);
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  > app-root {
    min-width: 80vw;
    min-height: 100vh;
    @include flexColumn(flex-start, flex-start);
    font-family: "Consolas", "微软雅黑 Light", "微软雅黑", "黑体", sans-serif;
  }
}

a, a:visited, a:hover, a:link, a:active {
  color: inherit;
  cursor: pointer;
  text-decoration-line: none;
}

.link {
  @include transition();
  position: relative;
  &::after {
    @include transition();
    background-color: gray;
    bottom: -0.1rem;
    content: "";
    height: 0.1rem;
    left: 0;
    position: absolute;
    width: 0;
  }
  &:hover::after {
    width: 100%;
  }
}
