@import '~@angular/material/theming';
@import 'function.scss';

@include mat-core(
  mat-typography-config(
    $font-family: '"Consolas", "微软雅黑 Light", "微软雅黑", "黑体", sans-serif'
  )
);

.light-blue-theme {
  @include angular-material-theme(
    mat-light-theme(
      mat-palette($mat-blue),
      mat-palette($mat-deep-orange),
      mat-palette($mat-red)
    )
  );
}

.dark-cyan-theme {
  @include angular-material-theme(
    mat-dark-theme(
      mat-palette($mat-cyan),
      mat-palette($mat-pink),
      mat-palette($mat-red)
    )
  );
}

.light-indigo-theme {
  @include angular-material-theme(
    mat-light-theme(
      mat-palette($mat-indigo),
      mat-palette($mat-deep-orange),
      mat-palette($mat-red)
    )
  );
}

.dark-teal-theme {
  @include angular-material-theme(
    mat-dark-theme(
      mat-palette($mat-teal),
      mat-palette($mat-pink),
      mat-palette($mat-red)
    )
  );
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Consolas", "微软雅黑 Light", "微软雅黑", "黑体", sans-serif;
  > app-root {
    @include flexColumn(flex-start, flex-start);
    min-width: 80vw;
    min-height: 100vh;
  }
}
